<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.data" type="System.Data.Common.DbProviderFactoriesConfigurationHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
   <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SharpHSQL" />
      <add invariant="System.Data.SharpHSQL" type="System.Data.Hsql.SharpHsqlDbProviderFactory, SharpHSQL, Version=4.0.0.0, Culture=neutral" name="SharpHSQL Provider" description="SharpHSQL ADO .Net Data Provider" />
    </DbProviderFactories>
  </system.data>
   <connectionStrings>
    <clear />
    <add name="ConnStr" providerName="System.Data.SharpHSQL" connectionString="database=test;user id=sa;password=;" />
  </connectionStrings>
</configuration>
<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
